.badge {
  position: absolute;
  z-index: 1;
}

.topRight {
  top: 12px;
  right: 12px;
}

.topLeft {
  top: 12px;
  left: 12px;
}

.bottomRight {
  bottom: 12px;
  right: 12px;
}

.bottomLeft {
  bottom: 12px;
  left: 12px;
}
