.root {
  width: 100%;
  height: 46px;
  display: flex;
  gap: var(--space-2);
  padding: 1px;
  background: var(--c-surface);
  border-radius: var(--radius-16);
  box-sizing: border-box;
}

.item {
  height: 44px;
  border-radius: var(--radius-16);
  display: flex;
  align-items: center;
  gap: var(--space-8);
  padding: 0 var(--space-12);
  box-sizing: border-box;
}

.icon {
  width: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: var(--opacity-85);
}
