.title {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-40);
  color: var(--c-text-1);
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 860px) {
  .title {
    font-size: var(--font-size-24);
  }
}
