.subtitle {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-34);
  line-height: var(--line-height-115);
  letter-spacing: var(--letter-spacing-n1);
  color: var(--c-text-1);
  margin: 0;
}
