.title {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-36);
  line-height: var(--line-height-120);
  color: var(--c-brand);
  margin: 0 0 var(--space-12);
}

.subtitle {
  font-size: var(--font-size-18);
  line-height: var(--line-height-170);
  color: var(--c-text-2);
  margin: 0 0 var(--space-40);
  max-width: 640px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
  margin-left: auto;
}

@media (max-width: 600px) {
  .title {
    font-size: var(--font-size-26);
    line-height: var(--line-height-34);
  }
}
