.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: var(--c-brand);
  margin: 0 0 var(--space-12);
}

.subtitle {
  font-size: 16px;
  line-height: 26px;
  color: var(--c-text-2);
  margin: 0 0 var(--space-40);
  max-width: 640px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
  margin-left: auto;
}

@media (max-width: 600px) {
  .title {
    font-size: 26px;
    line-height: 34px;
  }
}
